body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: none;
}

header {
    background-color: rgb(238, 238, 238);
    padding: 1rem;
}

content {
    background-color: rgb(247, 247, 247);
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    gap: 1rem;
    padding: 1rem;
    justify-content: space-evenly;
}

#edit {
    background-color: rgb(186, 211, 233);
}

#view {
    background-color: rgb(213, 233, 233);
}

.part {
    width: 100%;
    padding: 1rem;
    border-radius: 4px;
}

#deletecookies {
    display: none;
}